* {
  /* border: 1px solid red; */
}
body {
  background-color: rgb(240, 240, 240);
}
header.header {
  position: relative;
  background: rgb(13, 101, 164);
  min-height: 230px;
}

.header .wrapper {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

nav.navi {
  background: rgb(23, 145, 208);
  width: 100%;
}

nav.navi a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px;
}

nav.navi a.selected {
  background: #fff;
  color: black;
}

.header .logo {
  display: block;
  right: 0;
  padding: 48px 0;
}

.header .wave {
  position: absolute;
  right: -48px;
  top: 16px;
}

.contents {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}

.contents aside.sidebar {
  float: right;
  margin: 16px;
}

.contents aside.sidebar h5 {
  color: rgb(23, 145, 208);
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}
.contents aside.sidebar ul {
  margin: 4px 0;
  padding: 0;
  list-style: none;
}
.contents aside.sidebar ul li {
  border-left: 3px solid rgb(221, 221, 221);
  padding: 2px 8px;
  color: rgb(165, 165, 165);
  font-size: 16px;
  font-weight: 400;
}

.contents ul.list {
  max-width: 1024px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-right: 180px;
}

.contents ul.list li {
  display: block;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dashed grey;
}

.contents ul.list li:last-child {
  border-bottom: 0;
}

.contents ul.list li:after {
  content: " ";
  display: block;
  clear: both;
}

.contents ul.list li img {
  float: left;
  margin-right: 16px;
}

.contents ul.list li .description {
  overflow: hidden;
}
.contents ul.list li .description h2 {
  margin: 0;
  color: rgb(23, 145, 208);
}
.contents ul.list li .description p {
  color: rgb(153, 153, 153);
}

.footer {
  margin-top: 32px;
  background-color: rgb(51, 51, 51);
}
.footer .wrapper {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}
.footer .wrapper .logo {
  float: left;
  margin: 32px 0;
}
.footer .wrapper .lists {
  float: right;
}
.footer .wrapper .links {
  float: left;
  margin: 32px;
}

.footer .wrapper .links h5 {
  color: rgb(238, 238, 238);
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 800;
}
.footer .wrapper .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .wrapper .links ul li {
  color: rgb(89, 89, 89);
  font-size: 13px;
}

.twitter,
.facebook,
.pinterest {
  background: url("./images/icon-sprite.png") no-repeat;
  display: inline-block;
  margin: 0 2px;
}
.twitter {
  width: 30px;
  height: 30px;
  background-position: 0 0;
}
.twitter:hover {
  background-position: 0 -30px;
}

.facebook {
  width: 30px;
  height: 31px;
  background-position: -30px 1px;
}
.facebook:hover {
  background-position: -30px -29px;
}

.pinterest {
  width: 30px;
  height: 30px;
  background-position: -60px 0;
}
.pinterest:hover {
  background-position: -60px -30px;
}
