/* Reset */
body, ul, h2, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Layouts */
.l_wrapper {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.l_wrapper:after {
    content: ' ';
    display: table;
    clear: both;
}

.l_sidebar {
    width: 200px;
    float: right;
    margin-left: 16px;
}

.l_main {
    overflow: hidden;
}

/* Commons */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Components */
body {
  background-color: rgb(240, 240, 240);
}

.header {
  position: relative;
  background: rgb(13, 101, 164);
}

.header-logo {
  display: inline-block;
  padding: 48px 0;
}

.header-nav {
  background: rgb(23, 145, 208);
  width: 100%;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px;
}

.header-nav a.is_active {
  background: #fff;
  color: black;
}

.header-cover {
  position: absolute;
  right: -48px;
  bottom: 0;
}

.contents {
  overflow: hidden;
  background-color: #ddd;
}

.contents-inside {
   background-color: #fff;
   padding: 16px;
   margin-bottom: 16px;
}

.fields h5 {
  color: rgb(23, 145, 208);
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}

.fields ul {
  margin: 4px 0;
  padding: 0;
  list-style: none;
}

.fields ul li {
  border-left: 3px solid rgb(221, 221, 221);
  padding: 2px 8px;
  color: rgb(165, 165, 165);
  font-size: 16px;
  font-weight: 400;
}

.list {
    
}

.list-item {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dashed grey;
}

.list-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.list-item-cover {
  float: left;
  margin-right: 16px;
}

.list-item-description h2 {
  color: rgb(23, 145, 208);
}

.list-item-description p {
  color: rgb(153, 153, 153);
}


.footer {
  background-color: rgb(51, 51, 51);
}

.footer-logo {
  float: left;
  margin: 32px 0;
}

.footer-nav {
  float: right;
}

.footer-item {
  float: left;
  margin: 32px;
}

.footer-item h5 {
  color: rgb(238, 238, 238);
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 800;
}

.footer-item li {
  color: rgb(89, 89, 89);
  font-size: 13px;
}

.social {
    
}    

.social-item {
  background: url("./images/icon-sprite.png") no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 2px;
  text-indent: -9999px;
}

.social-item_twitter   { background-position: 0 0; }
.social-item_facebook  { background-position: -30px 1px; }
.social-item_pinterest { background-position: -60px 0; }

.social-item:hover {
    background-position-y: bottom; 
}

